@import './abstracts/brackpoint';
@import './abstracts/variables';
@import './abstracts/mixins';
@import './base/typography';
@import './base/reset';
@import './pages/forum';
@import './pages/auth';


.v-dialog {
  background-color: $white-color;
}

.msger {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column;
  background-color: $white-light-color;
}

.msger-chat {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  height: 400px !important;
  overflow-x: hidden;
  overflow-y: auto;

}

.msg {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}
.msg:last-of-type {
  margin: 0;
}
.msg-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background: #ddd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}
.msg-bubble {
  max-width: 450px;
  padding: 15px;
  border-radius: 15px;
  background: #ececec;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  background-color: $white-color;
}
.msg-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.msg-info-name {
  margin-right: 10px;
  font-weight: bold;
}
.msg-info-time {
  font-size: 0.85em;
}

.left-msg .msg-bubble {
  border-bottom-left-radius: 0;
}

.msg-text {
  font-family: $font-regular;
}

.not_printable {
  @media print {
    display: none;
  }
}

.authorization_msg {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.desktop-hide {
  @include media-query-respond-to(medium) {
    & {
      display: none;
    }
  }
}
.custom-container {
  @include custom-container;
}

.files__list {
  .files__list-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.4rem;
  }
}
.text-flex{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: right;
}

