
$primary-color: #EE1C47;
$secondary-color :#FF823A;
$dark-color: #09153D;
$dark-light-color: #676C7B;
$white-color:#ffff;
// $white-light-color:#f8f7f7;

$white-light-color:#fadcc998;
$font-black: 'Montserrat Black';
$font-bold: 'Montserrat Bold';
$font-heavy: 'Montserrat Italic';
$font-regular: 'Montserrat Regular';
$font-light: 'Montserrat Light';


$containerGutter: 2rem;
$containerInternalWidth: 85rem;
$containerMaxWidth: $containerInternalWidth + (2 * $containerGutter);

